.profile-bar {
    background: linear-gradient(262deg, #ff7854, #fd267d);

    a {
        font-size: 24px;
    }
    a:hover {
        text-decoration: none;
    }
}
.profile-thumb {
    border: 2px solid #fff;
}