<div class="bg-danger">
    <%= link_to "", class: "d-block h4 text-white pl-4 pt-2 pb-2" do %>
        <%= image_tag current_account.images.first, width: "45px", height: "45px", class: "rounded-circle me-3 ms-2" %>
        My Profile
    <% end %>
</div>