<div class="profile-bar bg-danger">
    <%= link_to "", class: "d-block text-white ps-4 pt-2 pb-2" do %>
        <%= image_tag current_account.images.first, width: "40px", height: "40px", class: "profile-thumb rounded-circle me-3 ms-2" %>
        My Profile
    <% end %>
</div>